
html{
 font-size: 16rgb(0%, 100%, 0%)x;
}

html * {

}

/* リセット */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{list-style:none;}
q:before,q:after{content:'';}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    font-family: "Noto, Hiragino Sans,Helvetica,Arial,sans-serif";
    color:rgb(101, 101, 101);
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color:rgb(99, 99, 99);
    transition: all  0.3s ease;
}

/* ------------------- resetの終わり --------------------------- */

/* ------------------- 共通の始まり ---------------------------------- */
h1, h2{
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

img{
  display: block;
  max-width:100%;
  height:auto;
}
.fa {
  font-size: 16px;
  font-family:"Font Awesome 5 Free";
  font-weight: 900;
}
.active {
  display: block !important;
}
.close {
  display: none;
}

/* ---------------- 共通の終わり ------------------- */

body
{
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
  width:100vw;
  height:auto;
}

/* ---------- headerの始まり ---------- */
header
{
  padding:30px 50px 30px 50px;
  display: flex;
  height:140px;
}
.header-logo 
{
  position: relative;
  width:150px;
  height:auto;
  text-align: center;
}
.header-logo h1
{
  font-size:22px;
  color:rgba(62,62,62,0.9);
}

.header-logo::before
{
  position: absolute;
  top:15px;
  left:10px;
  content:"";
  height:2px;
  width:13px;
  display: inline-block;
  background: rgba(62,62,62,0.9);
}
.header-logo::after
{
  position: absolute;
  top:15px;
  right:10px;
  content:"";
  height:2px;
  width:13px;
  display: inline-block;
  background: #3E3E3E;
}
.logo_image 
{
  background-color:rgba(5,5,5,0.9);
  width:50px;
  height:50px;
  border-radius: 8px;
  margin: 0 auto;
}
.logo_image img 
{
  width:50px;
  height:50px;
}

/* ---------- headerの終わり ---------- */


/* ---------- navの始まり ---------- */

.navi-container 
{
  width:100%;
  margin:8px 0 0 100px;
}
.navi-container ul li a 
{
  height:30px;
  width:100%;
  display: block;
}
.navi-container ul li 
{
  position: relative;
  float:left;
  margin-right:50px;
}
.navi-container ul li a:hover
{
  color:#0000ff;
}
.navi-container ul li::after
{
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background: #0000ff;
  transition: all 0.3s ease;
  margin: 0 auto;
}
.navi-container ul li:first-child:hover:after,
.navi-container ul li:nth-child(4):hover:after
{
  content: "";
  display: block;
  width: 44px;
  height: 1px;
  background: #00008b;
  text-align: center;
}
.navi-container ul li:first-child:hover:after,
.navi-container ul li:nth-child(4):hover:after
{
  content: "";
  display: block;
  width: 44px;
  height: 1px;
  background: #00008b;
  text-align: center;
}
.navi-container ul li:nth-child(2):hover:after,
.navi-container ul li:nth-child(5):hover:after
{
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  background: #00008b;
  text-align: center;
}
.navi-container ul li:nth-child(3):hover:after
{
  content: "";
  display: block;
  width: 85px;
  height: 1px;
  background: #00008b;
  text-align: center;
}

/* ---------- navの終わり ---------- */


/* ---------- social-icon + search-iconの始まり ---------- */

.social-icon
{
  margin:8px 0 0 50px;
  border-left: 1px solid rgba(112,112,122,0.5);
  border-right: 1px solid rgba(112,112,122,0.5);
  height:18px;
  padding-left:30px;
}
.social-icon i
{
  font-size: 16px;
  margin-right:30px;
}
.social-icon i:hover
{
  opacity: 0.6;
}
.facebook
{
  color:rgb(59,89,152);
}
.twitter
{
  color:rgb(29,161,242);
}
.instagram
{
  color:#fff;
  border-radius: 5px;
  width:16px;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%);
  text-align: center;
}
.search-icon
{
  height:18px;
  margin: 8px 0 0 50px;
}

/* ---------- social-icon + search-iconの終わり ---------- */

/* ----------- pick-contentsの始まり----------------------*/

main
{ 
  padding:0 50px;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
.main-container
{
  width:100%;
  max-width:800px;
}
.swiper-container
{
  display: flex;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
  margin: 0 auto;
}
.fa-arrow-left
{
  position: absolute;
  bottom:0;
  left:30%;
  padding-top: 3px;
  transform: translate(-50%,-50%);
  font-family: "Font Awesome 5 Free";
  font-size: 26px;
  background: rgb(223, 223, 223);
  width:34px;
  height:34px;
  text-align: center;
  border-radius: 50%;
  color:rgba(0, 0, 139,0.6);
}
.fa-arrow-right
{
  position: absolute;
  bottom:0;
  right:30%;
  padding-top: 3px;
  transform: translate(0,-50%);
  font-family: "Font Awesome 5 Free";
  font-size: 26px;
  background: rgb(223, 223, 223);
  width:34px;
  height:34px;
  text-align: center;
  border-radius: 50%;
  color:rgba(0, 0, 139,0.6);
}
.pick-content
{
  position: relative;
  width:160px !important;
  height:140px;
  box-sizing: border-box;
  margin: 0 25px;
  box-shadow: 0 0 10px 5px rgba(210, 210, 210,0.5);
}

.pick-content img 
{
  background: #fff;
  padding:5px;
  margin: 0 auto;
  min-width:160px;
  height:140px;
}
.pick-content a
{
  width:150px;
  height:130px;
}
.pick-content img:hover
{
  opacity: 0.8;
}
.pick-category
{
  position: absolute;
  top:0px;
  right:10px;
  background: #000;
  width:70px;
  height:auto;
  text-align: center;
  z-index: 10;
}
.pick-category a
{
  font-size: 10px;
  color:rgb(230, 230, 230);
}
.pick-category a:hover
{
  opacity: 0.6;
}
.pick-caption
{
  position: absolute;
  top:50%;
  left:10px;
  width:140px;
  height:62px;
  font-size: 12px;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  transition: 0.4s;
}
.pick-caption a
{
  color:rgba(225,225,225,0.9);
}
.pick-caption h3
{
  margin: 0 auto;

  width:120px;
  text-align: center;
  border-bottom: 1px solid rgba(225,225,225,0.9);
  color:rgb(220, 218, 218);
}
.pick-caption p
{
  font-size: 10px;
  letter-spacing: 1px;
  color:rgb(220, 220, 220);
}
.pick-caption:hover
{
  transform: translateY(-45px);
  height:105px;
}
.progress-bar
{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar span
{
  display: block;
  width:10px;
  height:10px;
  border-radius: 10px;
  background: rgba(241, 241, 241, 0.5);
  border: 1px solid rgba(54, 54, 54, 0.2);
  float: left;
  margin-right: 10px;
}

.swiper-button-next, .swiper-button-prev
{
  top:90% !important;
  height:30px !important;
  
}
.swiper-button-prev
{
  left:20% !important;
}
.swiper-button-next
{
  right:20% !important;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}

/* ----------- pick-contentsの終わり----------------------*/


/* ----------- article-containerの始まり ---------------------- */

.heading
{
  width:100%;
  margin: 50px 0 ;
  padding:10px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
}
.article-content
{
  width:100%;
  max-width: 800px;
  padding:0 50px;
  height:auto;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 10px 5px rgba(210, 210, 210,0.5);
  margin-bottom: 65px;
}
.article-box
{
  width:100%;
  max-width:550px;
  margin: 0 auto;
}
.article-title
{
  width:100%;
  padding:30px 0 30px 0;
  text-align: center;
  display: inline-block;
}
.day-time
{
  display: block;
  letter-spacing: 2px;
  font-size: 16px;
  float: left;
  color:#7B7B7B;
}
.article-title h3
{
  clear: both;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 10px;
  letter-spacing: 1px;
  max-width:500px;
  padding-top: 15px;
  margin: 0 auto;
  color: #7B7B7B;
}
.article-image
{
  width:100%;
  height:auto;
  margin: 0 auto;
  text-align: center;
}
.article-image img
{
  display: inline-block;
  text-align: center;
  width:100%;
  max-width:550px;
  max-height:350px;
}
.article-category
{
  padding-top:20px;
}
.article-category p
{
  float:left;
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
  padding:5px 10px;
  border: 1px solid rgba(0, 0, 255, 0.8);
  background:rgba(0, 0, 255, 0.8);
  color:rgb(240, 240, 240);
  transition: 0.6s;
}
.article-category p:hover
{
  background: #fff;
  color:rgb(0, 0, 255);
  border-color: #00008b;
}
.article-description
{
  padding:30px 30px 0 30px;
  clear: both;
}
.article-description p
{
  font-size: 18px;
}
.artile-detail
{
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 50px 0;
}
.artile-detail a
{
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #0000ff;
  transition: 0.5s;
  font-weight: 500;
}
.artile-detail a:hover
{
  background: #00008b;
  color:rgb(255, 255, 255);
}


/* ----------- article-containerの終わり ---------------------- */


/* ----------- sidebar-containerの始まり -----------------*/

.sidebar-container
{
  max-width:300px;
  width:100%;
  height:auto;
}

.sidebar-content
{
  width:100%;
  height:auto;
  padding:20px 10px;
  margin-bottom: 65px;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 10px 5px rgba(210, 210, 210,0.5);
}
.advertisement
{
  height:250px;
  overflow: hidden;
}
.advertisement img
{
  transition: transform 2s cubic-bezier(0.2, 0.8, 0.7, 1);
}
.advertisement img:hover
{
  transform:scale(1.05) ;
  transition: transform 2s cubic-bezier(0.2, 0.8, 0.7, 1);
}
.profile-content
{
  margin: 0 auto;
  width:250px;
  height:auto;
  box-sizing: border-box;
}
.sidebar-content h3
{
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 139,1);
  color:#fff;
  font-weight: 500;
}
.profile-content img
{
  margin: 15px 0 10px 0;
}
.profile-content h4
{
  text-align: center;
}
.profile-icon
{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 5px 0;
}
.profile-icon i
{
  font-size: 20px;
  width:23px;
}
.profile-detail
{
  margin: 10px 0 5px 0;
  padding: 3px 0;
  text-align: center;
  background: rgb(231, 231, 231);
}
.profile-detail :hover
{
  opacity: 0.7;
}
.profile-detail a:hover
{
  opacity: 0.7;
  color:rgba(0, 0, 255,0.8);
}

.profile-detail a
{
  font-weight: 600;
  color:rgb(31, 31, 31);
}
.popular
{
  position: relative;
  display: flex;
  padding:15px 0;
  border-bottom: double 7px #dbdbdb;
  overflow: hidden;
}
.popular-image img
{
  flex: 0 0 30%;
  height:74px;
}
.popular-text
{
  flex: 0 0 70%;
  height:74px;
  font-size: 12px;
  overflow: hidden;
}
.popular-text h4
{
  text-align: center;
  font-size: 14px;
}
.popular-text:hover
{
  color: rgba(0, 0, 170, 0.8);
}
.category-content
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:auto;
  padding:10px 10px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.category-content:hover
{
  color:rgba(0, 0, 255,0.8);
}
.category-content h4
{
  font-weight: 500;
  box-sizing: border-box;
}
.category-content p
{
  padding:5px 10px;
  background: rgb(221, 221, 221);
}
.advertisement-list h3
{
  margin-bottom: 20px;
}
.ad-listbox 
{
  width:100%;
  height:150px;
  object-fit: cover; 
  overflow: hidden;
}
.ad-listbox img
{
  transition: transform 2s cubic-bezier(0.2, 0.8, 0.7, 1);
}
.ad-listbox img:hover
{
  transform:scale(1.05) ;
  transition: transform 2s cubic-bezier(0.2, 0.8, 0.7, 1);
}

/* ----------- sidebar-containerの終わり -----------------*/

/*------------ footerの始まり -------------------------------- */

footer
{
  padding:20px 0;
  text-align: center;
  border-top: 1px solid rgb(214, 214, 214);
}
footer h2
{
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}
.footer-icon
{
  width:100%;
  height:auto;
  padding:5px 0;
  margin: 0 auto;
  letter-spacing: 25px;
}
.footer-icon i
{
  font-size: 20px;
  width:21px;
  padding-left:2px;
}


/*------------ footerの終わり -------------------------------- */