
html{
 font-size: 16px;
}

html * {

}


/* リセット */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
ul{list-style:none;}
q:before,q:after{content:'';}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color:#000;
    transition: all  0.3s ease;
}

/* --------------------------------------------------- */

/* ---共通--- */
h1, h2{
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;

}

img{
  display: block;
  max-width:100%;
  height:auto;
}
.fa {
  font-size: 16px;
  font-family: "FontAwesome";
  font-weight: 900;
}
/* ---共通--- */

.card 
{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:300px;
  height:400px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}

.card  .front
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 1s;
}
.card:hover  .front
{
  transform: rotateX(-180deg);
}
.card  .back
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 1s;
}
.card .back:before 
{
  content:"";
  position: absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background: rgba(255, 255, 255,0.1);
}
.card:hover  .back
{
  transform: rotateX(0deg);
}
